/* input.mp {
    background: #121212;
    border: none;
    margin: 20px 0 15px 0;
    padding-bottom: 10px;
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

input.mp:focus {
    outline: none;
}

input.mp:-webkit-autofill,
input.mp:-webkit-autofill:hover,
input.mp:-webkit-autofill:focus,
input.mp:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #121212 inset !important;
}

input.mp:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
} */
