.character--selected {
    position: relative;
}

/* optionally hide placeholder (in case it overlaps the cursor) */
.character--selected:not(.character--filled) {
    color: transparent;
}

.character--selected:not(.character--filled)::after {
    content: "";
    width: 1px;
    height: 25px;
    background-color: #333;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: blink 1s infinite step-end;
}

.character {
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 24px;
    line-height: 1.8;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
