.zoom {
    object-fit: cover;
    // width: 270px;
    // min-height: 235px;
    transition: transform 0.5s ease;
}

.zoom:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.grid-1 {
    margin: 50px 0;
    display: grid;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 0fr));
    justify-content: center;
}

.title {
    color: inherit;
    // font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: left;
    letter-spacing: calc(1 * 0.06rem);
    word-break: break-word;
    // line-height: calc(1 + 0.3 / max(1, 1));
}

.price {
    // font-weight: 600;
    // font-family: Inter, sans-serif;
    font-style: normal;
    margin-top: 0.5rem;
    color: rgb(18, 18, 18);
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    // line-height: 1;
}

.product-item {
    min-height: 326px;
    width: 270px;
}

@media (max-width: 768px) {
    .product-item {
        min-height: 280px;
        width: 165px;
    }

    .grid-1 {
        grid-template-columns: repeat(auto-fit, minmax(178px, 0fr));
    }

    .zoom {
        // width: 165px;
        // min-height: 189px;
    }
}
