/* @import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap"); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Ysabeau SC", sans-serif; */
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    font-family: "Assistant", sans-serif;
    font-size: 14px;
    grid-template-columns: 100%;
    min-height: 100%;
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.06rem;
    line-height: calc(1 + 0.8 / 1);
    font-style: normal;
    font-weight: 400;
}

.nav {
    padding: 0 220px;
}

.content {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    padding: 20px 220px;
}

.content-uncentered {
    padding: 20px 220px;
}

.content-full {
    width: 100%;
}

.content-small {
    width: 420px;
}

.content-border {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(166, 173, 201, 0.2);
}

a:active,
a:hover {
    text-decoration: underline;
}

.app {
    width: 100%;
}

.standard-text {
    color: #121212bf;
    font-size: 16px !important;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

/*navbar styles*/
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 220px;
}

.logo {
    display: flex;
    cursor: pointer;
}

.logo h1 {
    font-weight: 900;
    line-height: 1;
    letter-spacing: 8px;
    font-size: 52px;
}

.nav-action {
    display: flex;
    width: 10%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.nav-links ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navLinkItem {
    text-decoration: none !important;
    font-size: 1.2rem;
    color: #999999;
}

.navLinkItem:hover,
.active {
    color: #000;
}

#auth-icon {
    cursor: pointer;
}
/*end of navbar styles*/

/*category styles*/

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: black;
    height: 70px;
    color: #fff;
    padding: 20px 220px;
}

.category-links {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
    cursor: pointer;
}

.category-links p {
    color: #999999;
}

.category-links p:hover {
    color: #fff;
}
/*end of category styles*/

/*footer */
.footer {
    background: #262626;
    padding: 70px 220px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.information,
.pages {
    display: flex;
    flex-direction: column;
}

.footer-link {
    text-decoration: none;
    color: #999999;
}

.footer-link:hover {
    color: #f43132;
}

.footer h3 {
    color: #fff;
    margin: 20px 0;
}

.footer p {
    color: #999999;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.footer p i {
    margin-right: 10px;
}

.subscribe {
    display: flex;
    align-items: center;
}

.subscribe input {
    outline: none;
    border: 1px solid #999999;
    padding: 12px;
    width: 70%;
    background: transparent;
}

.subscribe button {
    padding: 12px;
    outline: none;
    width: 30%;
    cursor: pointer;
}

.social-icons {
    margin-top: 18px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

/*login*/
.login,
.register {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
}

.login form,
.register form {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    width: 400px;
    /* width: 50%; */
}

.input-field {
    display: flex;
    width: 100%;
}

.input-field input {
    padding: 15px;
    margin-top: 15px;
    outline: none;
    /* width: 50%; */
    border: 1px solid #000;
}

.input-field .small input {
    padding: 10px;
}

/* REGULAR STYLES */

/*!*RESPONSIVENESS*!*/
@media (max-width: 768px) {
    .nav {
        padding: 0;
    }

    .content {
        padding: 10px 5px;
    }

    /*navbar styles*/
    .navbar {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 20px 220px;
    }

    .logo {
        display: flex;
    }

    .logo h1 {
        font-weight: 900;
        line-height: 1;
        letter-spacing: 8px;
        font-size: 52px;
    }

    .nav-action {
        display: flex;
        width: 10%;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links {
        display: flex;
        width: 20%;
        justify-content: center;
        align-items: center;
    }

    .nav-links ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .navLinkItem {
        text-decoration: none !important;
        font-size: 1.2rem;
        color: #999999;
    }

    .navLinkItem:hover,
    .active {
        color: #000;
    }

    #auth-icon {
        cursor: pointer;
    }
    /*end of navbar styles*/

    /*category styles*/

    .category {
        display: none;
    }

    /* .category {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background: black;
        height: 70px;
        color: #fff;
        padding: 20px 220px;
    } */

    .category-links {
        display: flex;
        align-items: center;
        width: 60%;
        justify-content: space-between;
        cursor: pointer;
    }

    .category-links p {
        color: #999999;
    }

    .category-links p:hover {
        color: #fff;
    }
    /*end of category styles*/

    /*footer */
    .footer {
        background: #262626;
        padding: 30px 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
    }

    .information,
    .pages {
        display: flex;
        flex-direction: column;
    }

    .footer-link {
        text-decoration: none;
        color: #999999;
    }

    .footer-link:hover {
        color: #f43132;
    }

    .footer h3 {
        color: #fff;
        margin: 20px 0;
    }

    .footer p {
        color: #999999;
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    .footer p i {
        margin-right: 10px;
    }

    .subscribe {
        display: flex;
        align-items: center;
    }

    .subscribe input {
        outline: none;
        border: 1px solid #999999;
        padding: 12px;
        width: 70%;
        background: transparent;
    }

    .subscribe button {
        padding: 12px;
        outline: none;
        width: 30%;
        cursor: pointer;
    }

    .social-icons {
        margin-top: 18px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    /*login*/
    .login {
        display: flex;
        justify-content: center;
        /*align-items: center;*/
        height: 445px;
        width: 100%;
    }

    .login form {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        /* width: 50%; */
    }

    .input-field {
        display: flex;
        width: 100%;
    }

    .input-field input {
        padding: 15px;
        margin-top: 15px;
        outline: none;
        /* width: 50%; */
        border: 1px solid #000;
    }
}
