table {
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.mobile-sort {
    border: 1px solid #eee;
    border-radius: 2px !important;
}

@media screen and (max-width: 991px) {
    .mobile-sort,
    .sort-wrapper {
        display: flex;
        flex-direction: column;
        border: none;
        border-top: 1px solid #eee;
        /* gap: 20px; */
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table th {
        padding: 8px 0px !important;
    }

    table th > div {
        text-transform: capitalize !important;
    }

    table tr {
        border-bottom: 1px solid #eee;
        display: block;
        margin-bottom: 0.625em;
    }

    table td {
        border: none;
        display: block;
    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
    }

    table td:first-child {
        margin-top: 20px;
    }

    table td:last-child {
        border-bottom: 0;
        margin-bottom: 10px;
    }
}
